# Environment variables for bakery_engagement_service
ACTIVE_PROFILE=
CONFIG_SERVER_URL=
ELASTICSEARCH_URIS=
ELASTIC_PASSWORD=
EUREKA_URL=
KAFKA_BOOTSTRAP_SERVERS=
ENGAGEMENT_DB_URL=
SERVER_PORT=
ELASTIC_USERNAME=
